<nav>
  <div class="nav-wrapper p-2">
    <a href="#" class="brand-logo">{{message}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
        <li class="active"><a href="/">Home</a></li>
      {{else}}
        <li><a href="/">Home</a></li>
      {{/if}}

      {{#if isUser}}
        <li class="active"><a href="/users">Users</a></li>
      {{else}}
        <li><a href="/users">Users</a></li>
      {{/if}}

      {{#if isTasks}}
        <li class="active"><a href="/tasks">Tasks</a></li>
      {{else}}
        <li><a href="/tasks">Tasks</a></li>
      {{/if}}

    </ul>
  </div>
</nav>