<div class="container">

  <p>{{message}}</p>

  <div class="row">
    <form action="/users/create" method="POST" class="col s12">
      <div class="input-field">
        <input
          id="name"
          type="text"
          class="validate"
          name="username"
          placeholder="Enter user name"
          required
        />
      </div>

      <button type="submit" class="btn waves-effect waves-light full-size">Create User</button>
    </form>
  </div>
</div>