<div class="container">

  <div class="text-block">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
      tenetur ratione aperiam porro sapiente consequatur nam deserunt. Voluptate
      inventore, amet ipsa explicabo rem veritatis suscipit voluptates vitae
      deleniti, maiores eos dolore maxime soluta reprehenderit quae. Quo maiores
      dolores architecto exercitationem. Veritatis ipsum id aliquam tenetur
      nihil, alias libero debitis ab qui repellendus quae accusantium adipisci
      quibusdam dolore, modi tempora suscipit quis! Recusandae id et hic eius
      praesentium harum ipsam magnam a dolorem, impedit, aliquid odit ducimus
      deserunt, provident architecto quasi! Nostrum tempora, beatae nihil
      voluptatibus, nisi debitis cumque ad voluptates natus ut molestias
      possimus, soluta saepe iure tenetur esse eaque?</p>
  </div>

  <div class="stats">
    <div class="stat">
      <h3>Users Count</h3>
      <p>{{userCount}}</p>
    </div>

    <div class="stat">
      <h3>Tasks Count</h3>
      <p>{{taskCount}}</p>
    </div>
  </div>
</div>